@media (max-width: 768px) {
    .section1H1{
        font-size: 2rem;
      
    }

    .section1Text p{
        font-size: 1rem;
    }
    .section1Container{
        background-size: cover;
        
    }

    .section2Container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section2Container img{
        width: 300px;
        margin-left: 5rem;
    }

    .section2Container h1{
        font-size: 2.4rem;
    }

    .section2Text h3{
        font-size: 1rem;
    }

    .section2Text p{
        font-size: .7rem;
    }
}

@media (max-width: 1000px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: #a24e4e;
        gap:0;
        overflow: hidden;
    }

    nav ul li{
        padding: 20px;
    }

    .menu-icon{
        display: block;
    }
}

