* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Crimson Text", serif;
    background: linear-gradient(to left, white, rgb(255, 248, 239)); 
    background-position: center;
}

html{
    scroll-behavior: smooth;
}

.navBar {
    background-color: rgba(183, 76, 76, 0); 
    padding: 1rem 1.5rem 1.1rem 1.5rem;


    position: fixed;
    width: 100%; 
    top: 0;
    z-index: 1000; 
    transition: all .8s ease;
}

.navBar2 {
    background-color: #a24e4e;
    padding: 1rem 1.5rem 1.1rem 1.5rem;


    position: fixed;
    width: 100%; 
    top: 0;
    z-index: 1000; 
    transition: all .8s ease;
}

.navDiv {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Space out the content */
    padding: 0 4rem;
}

.navDiv ul {
    display: flex;
    align-items: center;
}

.navDiv ul li {
    list-style: none;
    margin-right: 6rem;
}

.navDiv li a {
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all .5s;
}

.navDiv li a:hover{
    font-size: 1.3rem;
}




.logo {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
}




.section1Container {
    background-image: url('images/background1.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section1H1{
    font-size: 5rem;
    color: white;
    margin-top: 4rem;
    text-indent: 2.4rem; /* Adjust the value for desired indent */
}

.section1Text p{
    text-align: center;
    margin-bottom: 4rem;
    margin-top: .6rem;
    color: white;
    font-size: 2.5rem;
    font-family: "Dancing Script", serif;
}

.section1Button button{
    padding-right: 6rem;
    padding-top: 0.7rem;
    padding-bottom:.7rem ;
    padding-left: 6rem;
    background-color: #f4f3ef;
    border-radius: 1rem;
    font-family: "Crimson Text", serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}


.section2Container {
    background-color: #e4d6d6;
    height: 100vh; 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    padding-top: .4rem;
    
}

.section2Image img{
    margin-top: 5rem;
    width: 400px;
    margin-right: 4rem;
}

.section2Image h1{
    position: absolute;
    text-align: center;
    font-family: "Dancing Script", serif;
    font-size: 4.3rem;
    color: #b74c4c;
    margin-right: 2rem;
    margin-bottom: 3rem;
    transform: translateY(-3.3rem);
}

.section2Text{
    width: 400px;
    margin-left: 4rem;
}

.section2Text h3{
    text-align: center;
    margin-bottom: .2rem;
    font-style: italic;
    font-weight: bold;
    color: #b74c4c;
    font-size: 1.25rem;
}

.section2Text p{
    text-align: center;
    margin-bottom: 1.5rem;
    color: #a24e4e;
    font-size: 1.3rem;
}


.section3Container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    
}

.section3{
    margin-top: 5rem;
    margin-bottom: 4rem;
    background-color: #fff7f7;
}

.section3 h1{
    font-family: "Dancing Script", serif;
    color: #b74c4c;
    font-size: 3rem;
    font-weight: bold;
    margin-left: 1rem;
}

.lash1{
    width: 45%;
    height: 70vh;
    background-image: url(images/lash1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    transition: all .3s;
}

.lash2{
    width: 45%;
    height: 70vh;
    background-image: url(images/lash2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    transition: all .3s;
}

.lash3{
    width: 45%;
    height: 70vh;
    background-image: url(images/lash3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    transition: all .3s;
}

.lash1,.lash2,.lash3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}



.lash1:hover,.lash2:hover,.lash3:hover{
    opacity: 1;
}



.lash1 h4,.lash2 h4,.lash3 h4,
.lash1 p,.lash2 p,.lash3 p,
.lash1 h3,.lash2 h3,.lash3 h3{
    color: rgb(255, 255, 255);
}


.lash1 h4,.lash2 h4,.lash3 h4{
    font-size: 1.5rem;
    font-weight: lighter;
}

.lash1 h3,.lash2 h3,.lash3 h3{
    font-size: 1.8rem;
}

.lash1 p,.lash2 p,.lash3 p{
    font-size: 1rem;
}




.fm1{
    width: 45%;
    height: 70vh;
    background-image: url(images/fm1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    transition: all .3s;
}


.fm2{
    width: 45%;
    height: 70vh;
    background-image: url(images/fm2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    transition: all .3s;
}


.fm3{
    width: 45%;
    height: 70vh;
    background-image: url(images/fm3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    transition: all .3s;
}


.fm1:hover,.fm2:hover,.fm3:hover{
    opacity: 1;
}



.fm1 h4,.fm2 h4,.fm3 h4,
.fm1 p,.fm2 p,.fm3 p,
.fm1 h3,.fm2 h3,.fm3 h3{
    color: rgb(255, 255, 255);
}


.fm1 h4,.fm2 h4,.fm3 h4{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: lighter;
}

.fm1 h3,.fm2 h3,.fm3 h3{
    font-size: 1.5rem;
}

.fm1 p,.fm2 p,.fm3 p{
    font-size: 1rem;
}


.fm1,.fm2,.fm3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}


.section5Container {
    background-color: #a24e4e;
    height: 100vh; 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8rem;
    padding-top: 5rem;

    
}

.section5Image img{
    margin-top: 5rem;
    width: 600px;
    margin-right: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.section5Image h1{
    position: absolute;
    text-align: center;
    font-family: "Dancing Script", serif;
    font-size: 3rem;
    color: #a24e4e;
    margin-right: 2rem;
    margin-bottom: 3rem;
    transform: translate(6.7rem,-17.3rem);
}

.section5Text{
    width: 400px;
    margin-left: 4rem;
}

.section5Text h3{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: #ffffff;
    font-size: 2.3rem;
}

.section5Text p{
    text-align: center;
    margin-bottom: 1.7rem;
    color: #ffffff;
    font-size: 1.3rem;
}

.spaces{
    margin-bottom: 7rem;
}

.section6Container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff7f7;
}

.section6Box
{
    width: 20%;
    border:2px solid #a24e4e;
    padding: 2rem;
    margin-bottom: 5rem;
}

.section6Title{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: "Dancing Script", serif;
    font-size: 3rem;
    color: #a24e4e;
}

.section6Container p{
    line-height: 1.5rem;
    margin-bottom: 2.5rem;
    color: #a24e4e;
}

.section6Container h4{
    text-align: center;
    color: #a24e4e;
    font-weight: bold;
    }


    .seven{
        background-color: #e4d6d6;
    }

    .section7Container {
        
        height: 100vh; 
        width: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;
        padding-top: .4rem;
        
    }
    
    .section7Image img{
        margin-top: 5rem;
        width: 400px;
        margin-right: 4rem;
    }
    
    
    
    .section7Text{
        width: 400px;
        margin-left: 4rem;
    }


    .section7Text h1{
        font-family: "Dancing Script", serif;
        text-align: center;
        margin-bottom: .2rem;
        font-style: italic;
        font-weight: bolder;
        color: white;
        font-size: 4rem;
    }
    
    .section7Text p{
        text-align: center;
        margin-bottom: 1.5rem;
        color: white;
        font-size: 1.3rem;
    }

    .section7Container{
        background: url(images/background2.png);
        background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
    

    .img7{
        border-radius: 40%;
    }

    form {
        width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      .form-group {
        margin-bottom: 10px;
        margin-right: 2rem;
        margin-top: 2rem;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
      }
      
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }
      
      input, textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        
      }


      .section8Container {
        background-color: #a24e4e;
        height: 80vh; 
        width: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
        padding-top: 1rem;
    
        
    }

    .icons{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .icons i{
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }

    .section8Form button{
        display: block;
        margin: 20px auto;
        background-color: #f4f3ef;
    border-radius: .2rem;
    font-family: "Crimson Text", serif;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding: .4rem;
    
    

    }

    

    .section8Form h1{
        text-align: center;
        font-family: "Dancing Script", serif;
        font-size: 3rem;
        margin-bottom: 2rem;
        color: white;
    }

    form{
        background-color: #f4f3ef;
    }

    form button{
        cursor: pointer;
        transition: .6s;
    }

    form button:hover{
        background-color: #b87272;
    }


    .sectionBook{
        background-color: #a24e4e;
    
        height: 100vh;
    }

    .bookingContainer{
        display:flex ;
        align-items: center;
        justify-content: space-evenly;
        
    }
    
    .bookingForm{
        margin-top: 4rem;
    }


    .submitBtn{
        background-color: #f4f3ef;
        border-radius: 1rem;
        font-family: "Crimson Text", serif;
        text-align: center;
        font-size: 1rem;
        padding: .4rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form{
        font-family: "Crimson Text", serif;
    }


    .days{
        margin-top: 3rem;
        
    }

    .days h4{
        color: white;
        margin-top: 1.5rem;
        text-align: center;
        font-family: "Crimson Text", serif;
    }

    .availableBooking h1{
        font-family: "Dancing Script", serif;
        font-size: 3rem;
        font-weight: bold;
        color: white;
    }

    

      


    
    